<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>VogueNation | Alcheringa</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  	<!-- <script type="text/javascript" src="vn.js"></script>  -->
</head>
<body>
<div>
	<div class="animate-button desktop-only">
		<div class="animate-button-menu shift">
			<ul class="link">
				<li class="animate-menu"><a href="">Home</a></li>
				<li class="animate-menu"><a href="">About Us</a></li>
				<li class="animate-menu"><a href="">Events</a></li>
				<li class="animate-menu"><a href="">Haute Couture</a></li>
				<li class="animate-menu"><a href="">State of Dress</a></li>
				<li class="animate-menu"><a href="">Glamour Nova</a></li>
				<li class="animate-menu"><a href="">Style Gallery</a></li>
				<li class="animate-menu"><a href="">Our Team</a></li>
				<li class="animate-menu"><a href="">Get in Touch</a></li>
			</ul>
		</div>
		<div class="animate-button-cross-bg arrow">
			<div class="animate-button-symbol">
				<div class="line line-1-arrow"></div>
				<div class="line line-2-arrow"></div>
			</div>
		</div>
	</div>
	<div class="header">
<!--		<img id="Ntopbg" class="Ntopbg" src="{% static 'images/Ntopbg.svg' %}">-->
		<img id="Ntopbg" class="Ntopbg" src="{% static 'images/Topbg.webp' %}">
<!--		<div class="mock-header">-->
		<div class="container-fluid">
<!--			<img class="logo show-on-scroll" src="{% static 'images/Logo.svg' %}">-->
				<img class="logo show-on-scroll" src="{% static 'images/logo.webp' %}">
			<div class="top-text show-on-scroll">
				<div class="top-header">VOGUE NATION</div>
				<br><br>
				<div class="quote">
					<p>People will stare.</p>
					<p>Make it worth</p>
					<p>their while.</p>
				</div>
				<cite class="">-Harry Winston</cite>
			</div>
<!--		</div>-->
		</div>
	</div>
<div class="VN-part">
<div class="V-container">
<!--	<img class="V" src="{% static 'images/NV.svg' %}">-->
		<img class="V" src="{% static 'images/NV.webp' %}">
	<div class="link-div">
		<ul class="link">
			<li class="link-li "><a class="menu menu-show-on-scroll" href="#">Home</a></li>
            <li class="link-li "><a class="menu menu-show-on-scroll" href="#"> Events</a></li>
            <li class="link-li "><a class="menu menu-show-on-scroll" href="#">Gallery</a></li>
            <li class="link-li "><a class="menu menu-show-on-scroll" href="#">Our Team</a></li>
            <li class="link-li "><a class="menu menu-show-on-scroll" href="#">Get in Touch</a></li>
		</ul>
	</div>
	<div class="VN-details">
		<div class="VN-text">
			Vogue Nation, the fashion designing module, newly concieved by the team of Alcheringa 2020 <br>is an attempt to begin the search for the all round champion of the Fashion Designing arena.<br><br>This will be the race of the elite of the elite. This is where you begin your trek to the top.<br><br>Three best of the best events especially tailored for the ones destined for greatness. Etch your <br>ame into the GOLDEN history of Alcheringa as the ultimate champion of the Fashion Module.<br><br>Haute Couture, one of the flagship events of Alcheringa, along with Glamour Nova, the<br>photoshoot event, and the paper dress desgning event, States of Dress. Claim all three and <br>become the first ever champion of the the Fashion Module of Alcheringa
		</div>
		<div class="prize">
			<div class="prize-text menu-show-on-scroll">
				<div >PRIZES</div>
        		<div class="prize-money-text">Worth more than <span class="prize-money">Rs. 2,00,0000</span></div>
			</div>
		</div>
	</div>
</div>
	<div class="N-container">
<!--		<img class="hc" src="{% static 'images/hc.svg' %}">-->
		<img class="N" src="{% static 'images/NN.webp' %}">
		<a class="hc-a"></a>
		<div class="hc">HAUTE COUTURE</div>
		<a class="ds-a"></a> <!-- this is anchor tag which is on top of the image, i will access this and clip it -->
		<div class="ds">STATES OF<br>DRESS</div>
		<a class="gn-a"></a>
		<div class="gn">GLAMOUR<br>NOVA</div>

<!--		<img class="gn" src="{% static 'images/gn.svg' %}">-->
		<img class="small-V" src="{% static 'images/V.webp' %}">
		<img class="small-N" src="{% static 'images/N.webp' %}">

		<div class="hc-info">
			<img loading="lazy" class="hc-logo" src="{% static 'images/hc-logo.webp' %}">
			<div class="hc-heading ">Haute Couture</div>
<!--			<img class="event-text" src="{% static 'images/hc-text.png' %}">-->
			<div class="event-text ">Haute Couture, where the most <br>glamorous people show off their skills as <br>hey walk the ramp and evoking all those <br>creative people out there to put on their <br>thinking caps and come out with the most <br>innovative theme-based fashion show.</div>
		</div>

		<div class="ds-info">
			<img loading="lazy" class="ds-logo" src="{% static 'images/ds-logo.webp' %}">
			<div class="ds-heading ">State of Dress</div>
			<div class="event-text ">States of Dress, where you let your <br>creativity run wild as you design the best <br>outfit for your friend using only paper.<br>Put your origami and fashion skills to use <br>and come up with the perfect dress.</div>
		</div>

		<div class="gn-info">
			<img loading="lazy" class="gn-logo" src="{% static 'images/gn-logo.webp' %}">
			<div class="gn-heading ">Glamour Nova</div>
			<div class="event-text ">Glamour Nova, where the most <br>glamorous people show off their skills as <br>they do elegant photoshoots at exotic <br>locations of one of the most beautiful <br>colleges in India<br>IIT Guwahati</div>
		</div>
	</div>
</div>
<script src="{% static 'js/animate-menu.js' %}"></script>
<script src="{% static 'js/newscroll.js' %}"></script>
</body>
</html>